.dropdown-hover:hover>.dropdown-menu{
    display: inline-block;

}
  .dropdown-hover> .dropdown-toggle:active {
    pointer-events: none;
  }
/* ul , li{
    height: 100%;
    width: 100%;
} */
@media screen and (max-width: 576.92px){
  .sonu{
    text-align: center;
  }
  .vjy{
    margin-left: 50px;
  }
  
}


.h{
  width: 80vw;
  background-color: white;
  height: 70vh;
}
.nvi{
  background-color: lightgray;
}
.sd{
  height: 500px;
}
.o{
  height: 200px;
}
.ig{
  height: 200px;
  width: 200px;
}
.imge{
  height: 50%;
  width: 100%;
}
.mrg{
  margin-bottom: 300px;
  font-size: 30px;
}
.fnt{
  font-size: 50px;
}
.n{
  width: 50px;
  height: 30px;
  border: 2px solid blue;
  border-radius: 50%;
  color: white;
  background-color: blue;
  font-size: 20px;
  text-align: center;
}
.is{
  text-align: left; 
  margin-left: -100px;
  margin-bottom: 100px;
  font-size: 30px;
}
.bnt{
  position: relative;
  border: o;
  display: inline-block;
  width: 12rem;
  height: auto;
  cursor: pointer;
  outline: none;
  vertical-align: middle;
  background: transparent;
}
.txt{
  position: relative;
  inset: 0;
  padding: 0.9rem 0;
  margin-left: 1.85rem;
  color: black;
  line-height: 1.6;
  text-align: center;
  transition: all 0.4s ease-in-out;
}
.cir{
  position: relative;
  display: block;
  margin-left: 0;
  height: 2rem;
  width: 2rem;
  background: white;
  border: 1px solid blue;
  border-radius: 1.625rem;
  transition: all 0.4s ease-in-out;
}
.con{
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: white;
}
.arw{
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
  transition: all 0.4s ease-in-out; 
}
.arw::before{
  content: "";
  position: absolute;
  top: -0.3rem;
  right: 0.0625rem;
  height: 0.625rem;
  width: 0.625rem;
  border-top: 0.125rem solid blue;
  border-right: 0.125rem solid blue;
  transform: rotate(45deg);
}
.btn:hover .cir{
  width: 20%;

}
.btn:hover .arw{
  background: white;
  transform: translateX(1rem);
}
.btn:hover .txt{
  color: blue;
}
.card1{
  margin-top: 100px;
}
.card2{
  margin-top: 150px;
}
.box{
  width: 250px;
  box-shadow: 0 0 20px rgba(243, 243, 243, 0.6);
  transition: 1s;
}

.box img{
  display: block;
  width: 100%;
  border-radius: 5px;
}
.box img:hover{
  transform:scale(1.1);
  z-index: 2;
}
.footericon{
  padding-right: 4px;
  border: 1px solid white;
  border-radius: 50%;
  width: 30px;
  height: 20px;
  text-align: center;
  align-items: center;
}
.ftr{
  font-size: 12px;
}
